<div class="mx-auto w-100 mt-5 mb-5 justify-content-center container-fluid">
    <input class="search-input form-control" placeholder="Search an image..." type="text" value="searchInput" name="searchInput" [(ngModel)]="searchInput" (ngModelChange)="search()" />
    <div class="photo-opts-left">
        <app-add-photo (addPhoto)="addPhoto($event)"></app-add-photo>
    </div>
    <ng-flash-message></ng-flash-message>
    <div class="photo-list">        
        <app-photo-item *ngFor="let photo of showedPhotos" [photo]="photo" (deletePhoto)="deletePhoto($event)"></app-photo-item>
    </div>
</div>