.card{
    width: 25rem;
    height: 20rem;
    padding: .25em;
    margin:1em;
    background-color: rgba(210, 224, 224, .75);
    color: #151e1e;
}
.card img{
    height: calc(20rem - .75em);
}
.card .card-body{
    text-align: left;
    padding: 1em;
    background-color: rgb(210, 224, 224);
    min-height: 5rem;
    transition:  transform 1s;
    margin-top: -4.5rem;
    visibility: hidden;   
}
.card:hover{
    cursor:pointer;
}
.card:hover .card-body{
    transform: translateY(-.5rem);
    visibility: visible;
    z-index: 1;
    
}
.card-title::first-letter{
    text-transform: uppercase;
}
p.card-title{
    font-size: .85em;
    font-weight: bold;
    white-space: nowrap;
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-info{
    display: flex;
    justify-content: space-between;
    font-size: .75em;
}
.img-opts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.img-opts p{
    margin: 0em 1em;
}
.loved{
    color: darkred;
    background-color: white;
    /* margin-bottom: -0.5em; */
    padding: .25em .75em .25em;
    border: .75px solid darkred;
    border-radius: .5em;
}
.saved{
    color: darkgreen;
    background-color: white;
    /* margin-bottom: -0.5em; */
    padding: .25em .75em .25em;
    border: .75px solid darkgreen;
    border-radius: .5em;
}
.del-img-btn{
    position: absolute;
    top: .25em;
    right: .25em;
    color:darkred;
    border:none;
}
/* Image item Modal */
.image-modal .img-opts{
    display: flex;
    flex-direction: column;
}