<div class="card mx-2 my-2">
    <a href="{{photo.path}}" target="blank">
    </a>
    <!-- Image card -->
    <img class="card-img-top" src="{{photo.path}}" alt="Card image cap"/>
    <div class="card-body">
      <div class="card-text">
        <p (click)="open(content)">{{photo.title}}</p>
        <p>by {{photo.by}}</p>
      </div>
      <div class="img-opts">
        <p class="clickable" *ngIf="!saved()" (click)="onSavePhoto()">Save</p>
        <p class="clickable saved" *ngIf="saved()" (click)="onUnsavePhoto()">Saved</p>
        <p class="clickable" *ngIf="!loved()" (click)="onLovePhoto()"><i class="fas fa-heart"></i> Loves</p>        
        <p class="clickable loved" *ngIf="loved()" (click)="onUnsavePhoto()"><i class="fas fa-heart"></i>Loved</p>
      </div>
    </div>
    <!-- Image Modal -->
    <div class="image-modal">
      <ng-template #content let-modal>
          <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{photo.title}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">            
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <img class="card-img-top" src="{{photo.path}}" alt="Card image cap"/>
            <div class="card-body">
              <div class="card-text">
                <p>Posted by {{photo.by}}</p>
                <p>Description: {{photo.caption}}</p>
                <p>Url: {{photo.path}}</p>              
              </div>
              <div class="img-opts">              
                <p class="clickable"> <i class="fas fa-heart"></i> {{photo.savedBy.length}} Saves</p> 
                <p class="clickable"> <i class="fas fa-heart"></i> {{photo.lovedBy.length}} Loves</p>  
              </div>
            </div>
          </div>
      </ng-template> 
    </div>
</div>