.footer{
    border-top: 1px solid #008080;
    margin: 1em 4em;
    padding: 1em;
}
.footer p, .portfolio-link, .portfolio-link:hover, .portfolio-link:active{
    color:#008080;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}