<div class="row">
    <div class="col">
        <a [routerLink]="['/']">Dashboard</a>
    </div>
    <div class="col text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">          
            <p ngbDropdownItem><app-auth></app-auth></p>       
            <a [routerLink]="['/my_uploads']" ngbDropdownItem *ngIf="authService.isAuthenticated">My album</a>  
        </div>
      </div>
    </div>
</div>
  