<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadImage">
        Upload a photo
    </button>      
      <!-- Modal -->
    <div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="UploadImage" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Upload a photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="fileUploadChange($event)" id="path">
                    </div>
                    <label>Caption</label>
                    <input type="text" name="caption" class="form-control" [(ngModel)]="caption"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary">Upload</button>
            </div>
            </div>
        </div>
    </div>
</div>